nbproject
npm-debug.log
node_modules
.sass-cache
/fotos
/firmas
*.png
*.png
firmas/mi_firma_FichaTecnica62Tecnico3.png
*.png
*.png
*.png
firmas/mi_firma_FichaTecnica8Cliente19.png
firmas/mi_firma_FichaTecnica8Cliente19.png
